@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Jost', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url(images/background1.jpg) no-repeat center/cover;
}

.container {
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: center;
}

.todo-app {
    width: 100%;
    max-width: 480px;
    padding: 35px;
    border-radius: 20px;
    backdrop-filter: blur(18px);
    background: rgba(0, 0, 0, 0.55);
    color: white;
    box-shadow: 0 20px 40px rgba(0,0,0,0.4);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.stats {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 30px;
}

.progress-bar {
    width: 270px;
    height: 10px;
    background: #ccc;
    border-radius: 20px;
    margin-top: 8px;
}

#progress {
    height: 100%;
    width: 0%;
    background: #7C5CFF;
    border-radius: 20px;
    transition: 0.3s;
}

#numbers {
    min-width: 60px;
    height: 60px;
    background: #7C5CFF;
    border-radius: 50%;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 15px;
    margin: 25px 20px 10px 0;
}

#task-form {
    display: flex;
    flex-direction:row;
    margin: 30px 30px 30px 0px;

}

#task-input {
    flex: 1;
    padding: 12px 12px;
    border-radius: 25px;
    border: none;
    outline: none;
    font-size: 14px;
}

.input-area {
    display: flex;
    gap: 12px;
    margin-bottom: 20px;
    align-items: center;
}

.input-area input {
    flex: 1;
    padding: 12px 18px;
    border-radius: 25px;
    border: none;
    outline: none;
    font-size: 14px;
}

.input-area input[type="date"] {
    flex: 0.8;
}

.input-area button {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    background: #7C5CFF;
    color: white;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
}

.input-area button:hover {
    background: #5b3df0;
    transform: scale(1.08);
}

.input-area i {
    font-size: 18px;
    padding: 10px 25px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.filters {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    gap: 10px;
    margin-top: 20px;
}

.filters button {
    flex: 1;
    padding: 10px 0;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    background: rgba(255,255,255,0.15);
    color: white;
    transition: 0.3s;
    font-weight: 500;
}

.filters button:hover {
    background: rgba(255,255,255,0.25);
}

.filters button.active {
    background: #7C5CFF;
}
#task-list {
    list-style: none;
}

#task-list li {
    background: rgba(112, 77, 77, 0.266);
    padding: 10px;
    margin-bottom: 8px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.3s;
}

#task-list li:hover {
    transform: scale(1.02);
}

.task-left {
    display: flex;
    flex-direction: column;
}

.task-left span.completed {
    text-decoration: line-through;
    opacity: 0.6;
}
.task-actions{
    display: flex;
    gap: 15px;
    align-items: center;

}

.task-actions button {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
}
.task-actions .task-checkbox {
    width: 16px;
    height: 16px;
    cursor: pointer;
    accent-color: #7C5CFF;
}

.edit-btn.disabled {
    opacity: 0.4;
    pointer-events: none;
    cursor: not-allowed;
}